html, body {
    background-color: #1a1a1a; /* Dark gray background */
    color: #fff; /* White text color */
      background-image: url("yotsuba000.png");
    background-size: cover;
    background-repeat: no-repeat; /* stops tiling */
    background-position: center center;
    background-attachment: fixed;
    overflow-y: auto;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: #fff; /* White text color for headers */
}

/* Links */
a {
    color: #0088ff; /* teal link color */
}

a:hover {
    color: #33c5ff; /* Lighter teal on hover */
}

/* Borders */
hr {
    border-color: #333; /* Dark gray border color */
}

/* Buttons */
.button {
    background-color: #333; /* Dark gray button background */
    color: #fff; /* White text color */
}

.button:hover {
    background-color: #555; /* Dark gray on hover */
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    background-color: #333; /* Dark gray input background */
    color: #fff; /* White text color */
}

/* Miscellaneous */
.container {
    border: 1px solid #333; /* Dark gray border for containers */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dark shadow effect */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0483aa;
    color: white;
  }

@font-face {
      font-family: CothamSans;
      src: url(CothamSans.otf);
    }
    
    div {
      font-family: CothamSans;
    }

    #image-container {
    position: relative;
  }
  #bg-image {
    width: 100%;
  }
  #image-container div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
